main{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .footer-area {
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
  }