<main>
  <!-- Page banner area start here -->
  <section class="page-banner bg-image pt-130 pb-130" data-background="assets/images/banner/inner-banner.jpg" style="background-image: url(assets/images/banner/inner-banner.jpg);">
      <div class="container">
          <h2 class="wow fadeInUp mb-15" data-wow-duration="1.1s" data-wow-delay=".1s">Create Account</h2>
          <div class="breadcrumb-list wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
              <a href="index-2.html" class="primary-hover"><i class="fa-solid fa-house me-1"></i> Home <i
                      class="fa-regular text-white fa-angle-right"></i></a>
              <span>Create Account</span>
          </div>
      </div>
  </section>
  <!-- Page banner area end here -->

  <!-- Login area start here -->
  <section class="login-area pt-130 pb-130">
      <div class="container">
          <div class="login__item">
              <div class="row g-4">
                  <div class="col-xxl-8">
                      <div class="login__image">
                          <img src="assets/images/register/res-image1.jpg" alt="image">
                          <div class="btn-wrp">
                              <a href="login.html">sign in</a>
                              <a class="active" href="register.html">create account</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xxl-4">
                      <div class="login__content">
                          <h2 class="text-white mb-65">create account</h2>
                          <div class="form-area login__form">
                            <form (ngSubmit)="submitForm()">
                                <input type="text" placeholder="User Name" [(ngModel)]="name" name="name" required>
                                <input class="mt-30" type="email"   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  placeholder="Email" [(ngModel)]="email" name="email" required>
                                <input class="mt-30" type="mobile" oninput="this.value = this.value.replace(/[^0-9]/g, '')" placeholder="Enter phone number" [(ngModel)]="mobile" name="mobile" required>
                                <input class="mt-30" type="password" placeholder="Enter Password" oninput="this.value = this.value.replace(/[^0-9]/g, '')" [(ngModel)]="password" name="password" required>
                                  <button class="mt-30">Create Account</button>
                                  <div class="radio-btn mt-30">
                                      <span></span>
                                      <p>I accept your terms & conditions</p>
                                  </div>
                              </form>
                              <span class="or pt-30 pb-40">OR</span>
                          </div>
                          <div class="login__with">
                              <a href="#0"><img src="assets/images/icon/google.svg" alt=""> continue with
                                  google</a>
                              <a class="mt-15" href="#0"><img src="assets/images/icon/facebook.svg" alt="">
                                  continue with
                                  facebook</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Login area end here -->
</main>